@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/main.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>

<body>
    <nav>
        <a asp-controller="User" asp-action="Index" class="link-icon"><span class="material-icons-outlined md-36">person</span></a>
        <a asp-controller="Posts" asp-action="Index" class="link-icon"><span class="material-icons-outlined md-36">pages</span></a>
    </nav>

    <main>
        <div>
            <h1>Home</h1>
            <p>From here we will begin to build the main app. I will first start with a user page.</p>
        </div>
    </main>
</body>